.reviewer {
    display: flex;
    align-items: center;
    margin-right: 85px;
}

.reviews-icon {
    width: 206px;
    height: 207px;
}

.reviews-content {
    margin-left: 35px;
    width: 400px;
}
.reviews-content__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 24px;

    color: #000000;
}
.reviews-content__text {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin: 0;

    color: #928f94;
    position: relative;
}

.reviews-content__text::before {
    content: '“';
    position: absolute;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #928f94;

    left: -18px;
    top: -8px;
}

.reviews-content__text::after {
    content: '”';
    position: absolute;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    padding-top: 6px;
    padding-left: 3px;

    color: #928f94;
}
