.success-order__wrapper {
   position: relative;
   height: 1080px;
}

.success-order {
   box-sizing: border-box;

   position: absolute;
   width: 1404px;
   left: calc(50% - 702px);
   top: -208px;

   background: #ffffff;
   border: 1px solid #c4c4c4;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.success-order__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 148px;
   border-bottom: 1px solid #928f94;
}
.success-order__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;

   color: #3e3c41;
   margin: 0;
   margin-left: 82px;
}
.success-order__price {
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;

   color: #928f94;
}
.success-order__value {
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;

   color: #3e3c41;
}
.success-order__currency {
   margin-left: 10px;
   margin-right: 81px;
}
.success-order__instructions {
}
.success-order__instructions-wrapper {
   display: flex;
   justify-content: center;
   padding-top: 40px;

   background: #f4f3f6;
}
.success-order__instruction {
   text-align: center;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #292929;
   margin-left: 120px;
   margin-right: 120px;
}

.success-order__instruction:last-child,
.success-order__instruction:first-child {
   margin: 0;
}

.success-order__instruction-icon {
}
.success-order__instruction-image {
}
.success-order__instruction-text {
   margin-top: 11px;
   margin-bottom: 39px;
}

.success-order__message {
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;

   color: #292929;
   margin-left: 205px;
}
.success-order__message-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;

   color: #292929;

   margin-bottom: 51px;
   margin-top: 95px;
}
.success-order__message-text {
   margin-bottom: 92px;
}
.success-order__message-text:last-child {
   margin-bottom: 129px;
}

.success-order__footer {
   background: rgba(255, 168, 0, 0.88);
   display: flex;
   align-items: center;
}
.success-order__footer-form {
   margin-left: 83px;
   align-items: center;
   display: flex;
}
.success-order__footer-title {
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;

   color: #292929;
}
.success-order__footer-icons {
   margin-left: 30px;
}
.success-order__footer-icon {
}
.success-order__footer-button {
   margin: 51px 78px 50px auto;
   height: 60px;

   padding: 0 13px 0 13px;
   font-weight: 700;
   font-size: 24px;
   text-transform: uppercase;

   background: rgba(255, 168, 0, 0.88);
   border-radius: 5px;
   border: 1px solid #3e3c41;
}
.success-order__footer-button:hover {
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.success-order__footer-button:active {
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   background: #e5e5e5;
   color: #ffa800;
}
