.details {
   background: #3e3c41;

   margin-bottom: 95px;
   padding: 35px 28px 0 28px;
}

.details-title {
   font-weight: 400;
   font-size: 30px;
   line-height: 35px;
   text-transform: uppercase;
   color: #e5e5e5;
   margin: 0;
   text-align: center;
   position: relative;
}

.details-title::after {
   content: '';
   position: absolute;
   width: 364px;
   height: 0;
   border-bottom: 1px solid #e5e5e5;
   right: -28px;
   bottom: -33px;
}

.title-small {
   font-weight: 700;
   margin-left: 40px;
   margin-top: 70px;
   margin-bottom: 0;
}

.sidebar-date {
   margin-left: 10px;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

.sidebar-header {
   position: relative;
   display: flex;
   align-items: flex-end;
}

.title-goThere::before, .title-goBack::before {
   position: absolute;
   content: '';
   background-image: url(../../../../assets/img/side-bar/from.svg);
   background-repeat: no-repeat;
   width: 32px;
   height: 26px;
   bottom: 4px;
   left: 0;
}

.title-goBack::before {
   background-image: url(../../../../assets/img/side-bar/to.svg);
}

.active-button {
   bottom: 0;
}

.details-button {
   width: 20px;
   height: 20px;
   padding: 0;

   box-sizing: border-box;
   border-radius: 5px;
   background-color: inherit;
   position: relative;
   margin-bottom: 3px;
   margin-left: auto;

   border: 2px solid #c4c4c4;
}
.details-wrapper {
   margin-top: 32px;
}

.details-info {
   display: flex;

   font-weight: 400;
   font-size: 18px;
   line-height: 21px;

   color: #e5e5e5;
}
.details-info__title {
   margin: 0;
}
.details-info__text {
   margin: 0;
   margin-bottom: 22px;
   margin-left: auto;
   color: #ffffff;
}

.details-info__text-train {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #ffffff;
}

.details-info__text-route {
   text-transform: capitalize;
   text-align: right;
}

.details-info__route {
   display: block;
   margin-top: 46px;
}
.route-time {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;

   color: #ffffff;
}

.route {
   display: flex;
   justify-content: space-between;
   margin-top: 17px;
}

.route-time {
   margin: 24px 0 0 0;
   /* margin: 0; */
}
.route-duration {
   text-align: center;
}
.route-duration__time {
   margin: 0 0 7px 0;
}
.route-date {
   margin: 3px 0 0 0;
   color: #928f94;
}

.route-city {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #292929;
   margin: 0;
   text-transform: capitalize;
}

.route-info__right {
   text-align: right;
}

.route-station {
   margin: 0 0 20px 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-transform: capitalize;
   color: #928f94;
}

.sidebar-inner {
   position: relative;
}

.sidebar_inner::after {
   content: '';
   position: absolute;
   width: 364px;
   height: 0;
   border-bottom: 1px solid #e5e5e5;
   right: -28px;
   bottom: -33px;
}

.title-passengers::before {
   position: absolute;
   content: '';

   background-image: url(../../../../assets/img/side-bar/person.svg);
   background-repeat: no-repeat;
   width: 32px;
   height: 26px;
   bottom: 4px;
   left: 0;
}

.details-passengers__list {
   list-style: none;
   padding: 0;
   margin: 0;

   font-weight: 400;
   font-size: 18px;
   line-height: 21px;

   margin-top: 32px;

   color: #e5e5e5;
}

.details-passengers__item {
   display: flex;
   align-items: center;
   margin-bottom: 22px;
}

.details-passengers__count {
}

.details-passengers__price-value {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;

   color: #ffffff;
   margin-left: auto;
}

.details-currency {
   height: 17px;
   margin-left: 5px;
}

.details-footer__title {
   margin-left: 0;
}

.details-footer {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   padding-bottom: 33px;
}

.details-footer__total-value {
   font-weight: 700;
   font-size: 48px;
   line-height: 56px;
   margin-left: auto;
   color: #ffa800;
}

.details-currency__total {
   margin-left: 10px;
   height: 32px;
}
